$bluewood: #313c54;
$malibu: #51b2fe;
$azure: #1382e8;

.bg-bluewood {
  background-color: $bluewood;
}

.bg-malibu {
  background-color: $malibu;
}

.bg-azure {
  background-color: $azure;
}

.bluewood {
  color: $bluewood;
}

.malibu {
  color: $malibu;
}
.azure {
  color: $azure;
}
