$bluewood: #313c54;
$malibu: #51b2fe;
$azure: #1382e8;
$torch: #f30045;
$haze: #f4f8f9;
$mako: #404550;
$poiple: #2d4ef2;

.bg-bluewood {
  background-color: $bluewood;
}
.bluewood {
  color: $bluewood;
}

.bg-malibu {
  background-color: $malibu;
}
.malibu {
  color: $malibu;
}

.bg-azure {
  background-color: $azure;
}
.azure {
  color: $azure;
}

.bg-torch {
  background-color: $torch;
}
.torch {
  color: $torch;
}

.bg-haze {
  background-color: $haze;
}
.haze {
  color: $haze;
}

.bg-mako {
  background-color: $mako;
}
.mako {
  color: $mako;
}

.bg-poiple {
  background-color: $poiple;
}
.poiple {
  color: $poiple;
}
