* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  outline: none !important;
}
html,
body {
  overflow-x: hidden;
  margin: 0;
  height: 100%;
}
svg {
  fill: none;
}
img {
  max-width: 100%;
}
::-webkit-input-placeholder,
::-moz-placeholder,
:-ms-input-placeholder,
input:-moz-placeholder {
  color: $dark3;
}

textarea {
  min-height: 140px;
  resize: vertical;
  width: 100%;
  line-height: 1.4;
}
