@mixin transform($value) {
  transform: #{$value};
  -webkit-transform: #{$value};
}

@mixin transition($value) {
  transition: #{$value};
  -webkit-transition: #{$value};
}

@mixin borderRadius($r:6px) {
  border-radius: $r;
  -webkit-border-radius: $r;
}
