.accordion {
  @extend .b1;
  @include borderRadius();
  min-width: 300px;
  .accordion-row {
    @extend .bb1;
    width: 100%;
    .accordion-row-header {
      padding: 0;
      width: 100%;
      @extend .flex;
      @extend .items-center;
      > * {
        text-align: left;
        @extend .flex;
        @extend .items-center;
        padding: $space-2;
      }
    }
    .accordion-row-content {
      @extend .bt1;
      @extend .p2;
    }
  }
}
