.appear {
  transition: opacity .5s, transform .8s;
  -webkit-transition: opacity .5s, transform .8s;
  opacity: 0;
  transform: translateY(10px);
  -webkit-transform: translateY(10px);
  &.appeared {
    transform: translateY(0px);
    -webkit-transform: translateY(0px);
    opacity: 1;
  }
}