.avatar {
  height: 2.2rem;
  width: 2.2rem;
  position: relative;
  .avatar-img {
    line-height: 0;
    background: $gray-lighter;
    overflow: hidden;
    @include borderRadius(999px);
  }
  &-sm {
    height: 27px;
    width: 27px;
  }
}

$avatarSize: 33px;

.avatar-list {
  @extend .flex;
  @extend .items-center;
  min-width: 90px;
  max-width: 150px;
  width: 100%;
  .avatar,
  .hidden-count {
    width: $avatarSize;
    height: $avatarSize;
    @extend .flex-none;
  }
  .avatar {
    margin-right: $space-1;
  }
  .hidden-count {
    @include borderRadius(100%);
    background-size: 100%;
    background-repeat: no-repeat;
    font-size: 0.9rem;
  }
  &.readonly {
    cursor: default;
    * {
      cursor: default;
    }
  }
}
