.avatar {
  border-radius: 999px;
  -webkit-border-radius: 999px;
  background: $malibu;
  color: $white;
  font-weight: bold;
  @extend .flex;
  @extend .items-center;
  @extend .justify-center;
  text-align: center;
  height: 2.2em;
  width: 2.2em;
  overflow: hidden;
  &-sm {
    height: 1.8em;
    width: 1.8em;
  }
}
