a, a:hover, a:visited, a:active {
  text-decoration: none;
}
a {
  color: inherit;
  text-decoration: none;
  * {
    text-decoration: none;
  }
}
button {
  font-size: inherit;
  font-family: inherit;
  line-height: inherit;
  color: inherit;
  cursor: pointer;
  background: transparent;
  border: none;
  padding: $space-1 $space-2;
}
.btn, .btn:focus {
  @extend button;
  @include transition('all .2s');
  border-radius: 999px;
  -webkit-border-radius: 999px;
  border: 2px solid $gray;
  color: $gray;
  text-transform: uppercase;
  box-shadow: none;
  &.btn-color2x {
    border-color: $color2x;
    color: $color2x;
    &:hover {
      background: $color2x;
      color: $white;
    }
  }
  &.btn-sm {
    font-size: .9em;
    padding: 6px 12px;
  }
}
.btn-shy {
  @extend button;
  opacity: .7;
  font-size: .9em;
}
.glyph {
  background: none;
  border: none;
  font-size: $h2;
  padding: $space-2;
  color: $aqua;
  position: relative;
  display: inline-block;
  overflow: hidden;
  i.fa {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
  }
  input {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    cursor: pointer;
    width: 100%;
    height: 100%;
  }
}
.glyph-sm {
  font-size: $h3;
}