a,
a:hover,
a:visited,
a:active {
  text-decoration: none;
}
a {
  color: inherit;
  text-decoration: none;
  * {
    text-decoration: none;
  }
}
button {
  font-weight: normal;
  font-size: inherit;
  font-family: inherit;
  line-height: inherit;
  color: inherit;
  cursor: pointer;
  background: transparent;
  border: none;
}
.btn,
.btn:focus {
  padding: $space-2 $space-3;
  @extend button;
  @include transition('all .2s');
  @include borderRadius();
  border: 1px solid $poiple;
  box-shadow: none;
  background: $poiple;
  color: $white;
  font-weight: bold;
  position: relative;
  line-height: 1;
  &.btn-sm {
    font-size: 0.9em;
    padding: 6px 12px;
  }
  &.btn-lg {
    font-size: 1.2em;
    padding: 14px 24px;
    border-width: 3px;
  }
  &.btn-inline {
    border: none;
    background: none;
    color: $malibu;
    padding: 0;
    line-height: inherit;
  }
  &.btn-green {
    background: $lime;
  }
  &.btn-secondary {
    background: $white;
    border-color: $gray-lighter;
    color: $gray;
    font-weight: normal;
  }
  i.fa {
    font-size: 0.9em;
    margin-right: 6px;
  }
  .icon {
    height: 1px;
    width: 27px;
    position: relative;
    overflow: visible;
    top: 3px;
    svg {
      position: absolute;
      bottom: 0;
      left: 0;
      color: inherit;
    }
  }
  &.btn-sm {
    .icon {
      width: 23px;
      top: 2px;
      svg {
        transform: scale(0.7);
      }
    }
    i.fa {
      position: relative;
      top: -1px;
    }
  }
}
label.btn,
.icon {
  cursor: pointer;
  position: relative;
  input {
    cursor: pointer;
    position: absolute;
    top: -18px;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    width: 100%;
  }
}
.btn-shy {
  @extend .btn-sm;
  @extend .btn-inline;
  font-weight: normal;
}
.icon {
  background: none;
  border: none;
  display: inline-block;
  overflow: hidden;
  line-height: 0;
}
.icon-sm {
  font-size: $h3;
}
.actions {
  margin-top: 4px;
  button,
  .btn {
    @extend .btn-shy;
    &:not(:last-child) {
      margin-right: $space-2;
    }
  }
}
