a, a:hover, a:visited, a:active {
  text-decoration: none;
}
a {
  color: inherit;
  text-decoration: none;
  * {
    text-decoration: none;
  }
}
button {
  cursor: pointer;
  background: transparent;
  font-size: inherit;
  border: none;
  line-height: inherit;
  padding: $space-1 $space-2;
  color: inherit;
}
.btn {
  @extend button;
  @include transition('transform .3s, border-color .5s');
  border-radius: 999px;
  -webkit-border-radius: 999px;
  border: 2px solid $gray-dark;
  color: $gray-dark;
  text-transform: uppercase;
  &-color2x {
    @extend .btn;
    border-color: $color2x;
    color: $color2x;
  }
}
.btn:hover {
  @include transform(translate(-2%,-2%));
  @include transform(scale(1.04));
}
.glyph {
  background: none;
  border: none;
  font-size: $h2;
  color: $aqua;
  position: relative;
  display: inline-block;
  overflow: hidden;
  input {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    cursor: pointer;
    width: 100%;
    height: 100%;
  }
}
.glyph-sm {
  @extend .glyph;
  font-size: $h3;
}