.canvas-container {
  position: relative;
  .canvas {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    div,
    canvas {
      width: 100% !important;
      height: 100% !important;
    }
  }
}
