.canvas-container {
  position: relative;
  display: inline-block;
  .canvas {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
  }
  .canvas-actions {
    position: absolute;
    bottom: -50px;
    button {
      margin-right: $space-2;
    }
  }
}
