.checklist {
  @extend .b1;
  @include borderRadius();
  padding: $space-1;
  > div {
    padding: $space-1;
    display: flex;
    @extend .justify-between;
    cursor: pointer;
    &:not(:last-child) {
    }
  }
}
