$bStyle: 1px solid #ccc;
.column {
  border: $bStyle;
  border-top: none;
  flex: none;
  max-width: 240px;
  margin-right: $space-1;
  .column-header,
  .column-cell {
    border-left: none;
    border-right: none;
    border-bottom: none;
  }
  .column-cell:first-child {
    border-top: none;
  }
}
.column-header {
  margin-right: $space-1;
  border-bottom-width: 2px !important;
  flex: none;
}
.column-header,
.column-cell {
  line-height: 1.2;
  font-size: 0.9em;
  color: $dark7;
  border: $bStyle;
  background: $white;
  position: relative;
  > * {
    border: none;
  }
  .identifier {
    padding-right: $space-1;
    padding-left: $space-2;
    font-weight: bold;
    width: auto;
  }
  span,
  input,
  label {
    border: none;
    text-align: center;
    color: inherit;
    padding: 10px 5px;
    font-family: inherit;
    font-size: inherit;
    text-align: inherit;
    display: block;
    border-radius: 0;
    -webkit-border-radius: 0;
    background: transparent;
  }
  span.placeholder {
    color: $dark3;
  }
  input {
    width: 100%;
  }
  .handle-left {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 10px;
    border-right: 10px solid $gray-lightest;
    border-left: 10px solid transparent;
    cursor: move;
    transform: translateX(-21px);
    -webkit-transform: translateX(-21px);
    opacity: 0;
  }
  .handle-above {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 10px;
    border-bottom: 10px solid $gray-lightest;
    border-top: 10px solid transparent;
    cursor: move;
    transform: translateY(-21px);
    -webkit-transform: translateY(-21px);
    opacity: 0;
  }
  &:hover {
    .handle-left,
    .handle-above {
      opacity: 1;
    }
  }
}
