$bStyle: 1px solid #ccc;
.columns {
  color: $dark7;
  @extend .flex;
  @extend .items-start;
  @extend .flex-none;
  width: auto;
  .column {
    @extend .flex-none;
    max-width: 240px;
    border: $bStyle;
    &:not(:last-child) {
      margin-right: 6px;
    }
    .column-header,
    .column-cell {
      border-top: none;
      border-left: none;
      border-right: none;
    }
    .column-cell:last-child {
      border-bottom: none;
    }
  }
}
.column-header,
.column-cell {
  border: $bStyle;
  background: $white;
  position: relative;
  > * {
    border: none;
  }
  .identifier {
    padding-right: $space-1;
    padding-left: $space-2;
    font-weight: bold;
    width: auto;
  }
  input,
  label {
    border: none;
    text-align: center;
    color: inherit;
    padding: 10px 5px;
    font-family: inherit;
    font-size: inherit;
    text-align: inherit;
    display: block;
    border-radius: 0;
    -webkit-border-radius: 0;
    background: transparent;
  }
  input {
    width: 100%;
  }
}
.handle-left {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 10px;
  border-right: 10px solid $gray-lightest;
  border-left: 10px solid transparent;
  cursor: move;
  transform: translateX(-21px);
  -webkit-transform: translateX(-21px);
}
.handle-above {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 10px;
  border-bottom: 10px solid $gray-lightest;
  border-top: 10px solid transparent;
  cursor: move;
  transform: translateY(-21px);
  -webkit-transform: translateY(-21px);
}
