.comment-wrapper {
  border: 1px solid transparent;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  overflow: hidden;
  font-size: .9em;
  color: $dark7;
  .comment-actions {
    margin-top: 4px;
    button:not(:last-child) {
      margin-right: $space-1;
    }
  }
  .comment-newreply {
    border-top: 1px solid transparent;
    textarea {
      border: none;
      background-color: $aqua-haze;
    }
    button.btn-footer {
      opacity: 0;
    }
  }
  .comment {
    .comment-avatar {
      &:before {
        content: ' ';
        @extend .flex-none;
        height: $space-1;
      }
    }
    &:not(:last-child) {
      .comment-avatar {
        @extend .flex;
        @extend .flex-column;
        @extend .items-center;
        .avatar {
          @extend .flex-none;
        }
        &:after {
          @extend .flex-auto;
          content: ' ';
          display: block;
          width: 1px;
          background: $dark1;
          min-height: $space-1;
        }
      }
    }
  }
  &:not(:last-child) {
    margin-bottom: $space-1;
  }
  &:not(.selected):hover {
    cursor: pointer;
  }
  &.selected,
  &:hover {
    border-color: $dark2;
    .comment-newreply {
      button {
        opacity: 1;
      }
    }
  }
  &.selected {
    .comment-newreply {
      border-color: $dark1;
      button.btn-footer {
        background-color: $aqua-haze;
      }
    }
  }
}
