.comment-thread {
  border: 1px solid transparent;
  @include roundedCorners();
  overflow: hidden;
  color: $dark7;
  padding: $space-2 0 0 0;
  .comment-wrapper {
    @extend .flex;
    .comment-avatar {
      @extend .flex-none;
      @extend .px2;
      @extend .flex;
      @extend .flex-column;
      @extend .items-center;
      .avatar {
        @extend .flex-none;
      }
      &:after {
        @extend .flex-auto;
        content: ' ';
        display: block;
        width: 1px;
        background: $gray-lighterer;
        min-height: $space-3;
      }
    }
    .comment-body {
      @extend .flex-auto;
      @extend .pb2;
    }
  }
  &:not(:last-child) {
    margin-bottom: $space-2;
  }
  &:not(.selected):hover {
    cursor: pointer;
  }
  .comment-newreply {
    border-top: 1px solid transparent;
    .comment-wrapper {
      opacity: 0;
    }
  }
  &.selected,
  &:hover {
    border-color: $gray-lighterer;
    .comment-newreply {
      border-color: $gray-lighterer;
      .comment-wrapper {
        opacity: .6;
      }
    }
  }
  &.selected {
    border-color: $gray-lighter;
    .comment-newreply {
      background: $haze;
      .comment-wrapper {
        opacity: 1;
      }
    }
  }
  .input {
    textarea {
      background: transparent;
      border: none;
      padding: 0;
      resize: none;
      min-height: 80px;
      padding-right: $space-2;
      color: $dark7;
    }
  }
}

button.comment-thread,
.comment-newreply {
  padding: $space-2 0;
  display: block;
  width: 100%;
  text-align: left;
  color: $dark3;
  .comment-wrapper {
    .comment-body {
      padding: 0;
    }
    .comment-avatar {
      &:after {
        display: none !important;
      }
    }
  }
}
button.comment-thread,
button.comment-newreply {
  .comment-wrapper {
    @extend .items-center;
  }
}
