.comment {
  padding: $space-1;
  border: 1px solid transparent;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  .comment-avatar {
    position: relative;
  }
  .comment-actions {
    button:not(:last-child) {
      margin-right: $space-1;
    }
  }
  .comment-reply {
    opacity: 0;
  }
  &:not(:last-child) {
    margin-bottom: $space-1;
  }
  &.selected,
  &:hover {
    border-color: $dark1;
    .comment-reply {
      opacity: 1;
    }
  }
}
