.container {
  width: 100%;
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
}
.container-wide {
  @extend .container;
  max-width: 2000px;
}
.container-narrow {
  @extend .container;
  max-width: 600px;
}
.container-narrower {
  @extend .container;
  max-width: 400px;
}
.items-middle {
  @extend .items-center;
  @extend .justify-center;
}
