.data-rows {
  @extend .b1;
  @include roundedCorners();
  line-height: 1;
  background: $white;
  header {
    @extend .bb1;
    @extend .p2;
  }
  .data-row {
    @extend .bb1;
    @extend .flex;
    min-width: 300px;
    width: 100%;
    position: relative;
    > label {
      @extend .flex-none;
      color: $dark6;
      padding: $space-3;
    }
    > .input {
      @extend .flex-auto;
      > *,
      > .dropdown > button {
        border: none;
      }
      textarea {
        padding-top: 0 !important;
      }
    }
    // > *:not(.p0) {
    //   @extend .p2;
    //   &.pr0 {
    //     padding-right: 0;
    //   }
    // }
  }
}
