.data-rows {
  @extend .b1;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  line-height: 1;
  background: $white;
  header {
    @extend .bb1;
    @extend .p2;
  }
  .data-row {
    @extend .bb1;
    @extend .flex;
    min-width: 300px;
    width: 100%;
    padding: 0;
    position: relative;
    > label {
      @extend .flex-none;
      color: $dark6;
      padding: $space-2;
    }
    > .input {
      @extend .flex-auto;
      > * {
        border: none;
      }
      textarea {
        padding-top: 0!important;
      }
    }

    // > *:not(.p0) {
    //   @extend .p2;
    //   &.pr0 {
    //     padding-right: 0;
    //   }
    // }
  }
}