.data-rows {
  @extend .b1;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  line-height: 1;
  header {
    @extend .bb1;
    @extend .p2;
  }
  .data-row {
    @extend .bb1;
    @extend .flex;
    min-width: 300px;
    padding: 0;
    position: relative;
    > *:not(.p0) {
      @extend .p2;
      &.pr0 {
        padding-right: 0;
      }
    }
    > label {
      @extend .flex-none;
      color: $dark6;
    }
    > *:not(label) {
      @extend .flex-auto;
    }
    textarea {
      width: 100%;
      padding-top: 0!important;
    }
    input:focus {
      + .focused {
        display: block;
      }
    }
    .focused {
      display: none;
      position: absolute;
      top: 50%;
      right: -15px;
      color: $aqua;
      font-family: FontAwesome;
      transform: translateY(-50%);
      &:after { content: "\f053"; }
    }
  }
}