.dropdown {
  width: 100%;
  position: relative;
  display: inline-block;
  button {
    text-align: inherit;
    .icon {
      margin-left: 6px;
      position: relative;
      top: 2px;
      opacity: .5;
    }
  }
  &.noselect {
    button {
      cursor: default;
    }
  }
  &.dropdown-inline {
    width: auto;
    button {
      padding: 0;
    }
  }
}
.tether-element {
  z-index: 3;
}
.dropdown-options {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: all .2s;
  -webkit-transition: all .2s;
  transform: translateY(-20px);
  -webkit-transform: translateY(-20px);
  transform-origin: top;
  -webkit-transform-origin: top;
  @include roundedCorners();
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
  top: -1px;
  background: $white;
  min-width: 120px;
  max-height: 30vh;
  overflow-y: auto;
  overflow-x: hidden;
  @extend .b1;
  opacity: 0;
  &.open {
    opacity: 1;
    transform: translateY(0);
    -webkit-transform: translateY(0);
  }
  > li,
  > button,
  > a {
    display: block;
    padding: $space-1 $space-2;
    cursor: pointer;
    width: 100%;
    text-align: inherit;
    border-radius: 0;
    -webkit-border-radius: 0;
    color: inherit;
    font-weight: inherit;
    background: inherit;
    border: none;
    &:not(:last-child) {
      @extend .bb1;
    }
  }
}
