.dropdown {
  position: relative;
  button {
    text-align: inherit;
    .fa {
      margin-left: 6px;
    }
  }
  &.p0 {
    button {
      padding: 0;
    }
  }
  &.noselect {
    button {
      cursor: default;
    }
  }
  &.dropdown-inline {
    width: auto;
    button {
      padding: 0;
    }
  }
}

.dropdown--dots {
  & > button {
    width: 30px;
    text-align: center;
  }
}

.tether-element {
  z-index: 4;
}
.dropdown-options {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
  transform: scale(0.7) translateY(-20px);
  -webkit-transform: scale(0.7) translateY(-20px);
  transform-origin: top right;
  -webkit-transform-origin: top right;
  @include borderRadius();
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
  top: -1px;
  background: $white;
  min-width: 120px;
  max-height: 30vh;
  overflow-y: auto;
  overflow-x: hidden;
  @extend .b1;
  opacity: 0;
  &.focused {
    opacity: 1;
    transform: scale(1) translateY(0);
    -webkit-transform: scale(1) translateY(0);
  }
  &.near-bottom {
    transform-origin: bottom right;
    -webkit-transform-origin: bottom right;
  }
  > button,
  > a {
    display: block;
    padding: $space-2 $space-3;
    cursor: pointer;
    width: 100%;
    text-align: inherit;
    border-radius: 0;
    -webkit-border-radius: 0;
    color: $dark7 !important;
    font-weight: inherit;
    background: inherit;
    border: none;
    &:not(:last-child) {
      border-bottom: 1px solid $dark1 !important;
    }
  }
}
.untethered {
  position: relative;
  .dropdown-options {
    position: absolute;
    z-index: 3;
    top: 100%;
    right: 0;
  }
}
