.input {
  position: relative;
  input,
  textarea,
  .readonly,
  .dropdown button {
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
    line-height: 1;
    display: block;
    padding: $space-2;
    height: auto;
    width: 100%;
    border: none;
    border: 1px solid $dark2;
    background: transparent;
    font-size: inherit;
    color: inherit;
    font-family: inherit;
    font-weight: inherit;
    text-align: inherit;
    @include borderRadius(3px);
  }
}
// Variations
.input {
  &.input-sm {
    input,
    textarea,
    .dropdown > button,
    .readonly {
      padding: $space-2 $space-3;
    }
  }
  &.input-inline {
    input,
    textarea,
    .dropdown > button,
    .readonly {
      padding: 0 $space-2;
      border: none;
      line-height: inherit;
    }
  }
}
