.field {
  position: relative;
  &:not(:only-of-type) {
    padding-bottom: $space-3;
  }
  &.field-theme-default {
    .input {
      input,
      textarea,
      .dropdown > button,
      .readonly {
        border-top: none;
        border-left: none;
        border-right: none;
        padding: $space-1 0 0 0;
        @include borderRadius(0);
      }
      &:after {
        content: ' ';
        display: block;
        background: $poiple;
        height: 2px;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0%;
        transition: all 0.5s;
      }
    }
    &.focused {
      .input {
        &:after {
          width: 100%;
        }
      }
      label {
        color: $poiple;
      }
    }
    label {
      font-size: 0.8em;
      margin-bottom: 0;
    }
  }
  &.field-theme-alt1 {
    .input {
      input,
      textarea,
      .dropdown > button {
        transition: all 0.5s;
        -webkit-transition: all 0.5s;
      }
    }
    &.focused {
      .input {
        input,
        textarea,
        .dropdown > button {
          border-color: $poiple;
        }
      }
    }
    .input {
    }
  }
  label {
    color: $dark5;
    line-height: 1;
    margin-bottom: $space-1;
    display: block;
  }
}
