.input {
  position: relative;
  input,
  textarea,
  .readonly,
  .dropdown button {
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
    line-height: 1;
    display: block;
    padding: $space-2;
    height: auto;
    width: 100%;
    border: none;
    border: 1px solid $dark1;
    background: transparent;
    font-size: inherit;
    color: inherit;
    font-family: inherit;
    font-weight: inherit;
    text-align: inherit;
    @include borderRadius(3px);
    height: 45px;
  }
  .icon {
    position: absolute;
    top: 50%;
    right: $space-2;
    transform: translate(0, -50%);
    -webkit-transform: translate(0, -50%);
  }
}
// Variations
.input {
  &.input-sm {
    input,
    textarea,
    .dropdown > button,
    .readonly {
      padding: $space-1 $space-2;
      height: 32px;
      font-size: 0.9em;
    }
  }
  &.input-inline {
    input,
    textarea,
    .dropdown > button,
    .readonly {
      padding: 0 $space-2;
      border: none;
      line-height: inherit;
    }
  }
}
form {
  width: 100%;
}
textarea {
  min-height: 140px;
  resize: vertical;
  width: 100%;
  line-height: 1.4;
}

// Placeholder styling
// (Don't combine these, doesn't work otherwise)

::-webkit-input-placeholder {
  color: $gray;
}
:-moz-placeholder {
  color: $gray;
  opacity: 1;
}
::-moz-placeholder {
  color: $gray;
  opacity: 1;
}
:-ms-input-placeholder {
  color: $gray;
}
::-ms-input-placeholder {
  color: $gray;
}
:focus::-webkit-input-placeholder {
  text-indent: -999px;
}
:focus::-moz-placeholder {
  text-indent: -999px;
}
:focus::-ms-input-placeholder {
  text-indent: -999px;
}
