::-webkit-input-placeholder { color: $gray-lightest; }
::-moz-placeholder { color: $gray-lightest; }
:-ms-input-placeholder { color: $gray-lightest; }
input:-moz-placeholder { color: $gray-lightest; }

textarea {
  min-height: 200px;
  resize: vertical;
  width: 100%;
  line-height: 1.4;
}

.input {
  padding: 0!important;
  input, textarea, .select-input > button, .readonly {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    line-height: 1;
    display: block;
    padding: $space-2;
    box-shadow: none!important;
    -webkit-box-shadow: none!important;
    height: auto;
    width: 100%;
    border: none;
    background: transparent;
    font-size: inherit;
    color: inherit;
    font-family: inherit;
    font-weight: inherit;
    text-align: inherit;
  }
  input:focus {
    + .focused {
      display: block;
    }
  }
  .focused {
    display: none;
    position: absolute;
    top: 50%;
    right: -15px;
    color: $aqua;
    font-family: FontAwesome;
    transform: translateY(-50%);
    &:after { content: "\f053"; }
  }
  .select-input {
    width: 100%;
    position: relative;
    display: inline-block;
    button {
      text-align: inherit;
      &:after {
        content: "\f078";
        font-family: FontAwesome;
        margin-left: $space-1;
        font-size: .7em;
        color: $dark3;
      }
    }
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      position: absolute;
      top: 100%;
      right: 0;
      background: $white;
      @extend .b1;
      z-index: 2;
      box-shadow: 0 1px 3px rgba(0,0,0,0.1);
      li {
        display: block;
        padding: $space-1 $space-2;
        cursor: pointer;
        &:not(:last-child) {
          @extend .bb1;
        }
      }
    }
  }
}