.list-item {
  @extend .flex;
  @extend .items-center;
  @extend .justify-between;
  @extend .bb1;
  @extend .bg-white;
  @extend .dark7;
  @extend .x-fill;
  @extend .p1;
  .list-item-controls {
    button {
      padding: 0;
      color: $dark2;
      &:hover {
        color: $dark3;
      }
    }
  }
}