.modal {
  z-index: 4;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: $dark3;
  overflow-y: auto;
  transition: all 0.5s;
  @extend .flex;
  @extend .items-center;
  @extend .justify-center;
  padding: $space-3;
  opacity: 0;
  &.visible {
    opacity: 1;
  }
  .modal-content {
    opacity: 0;
    transition: all 0.5s;
    @extend .flex-none;
    z-index: 3;
    &.visible {
      opacity: 1;
    }
    .modal-body {
      height: 100%;
      background: $white;
      box-shadow: 0 0 30px rgba(49, 60, 84, 0.1);
      overflow: hidden;
      border: 1px solid $white;
      @include borderRadius();
      position: relative;
      > img {
        @include borderRadius();
      }
      .modal-header {
        padding: $space-3;
        font-weight: bold;
        @extend .bb1;
      }
      .modal-close {
        position: absolute;
        top: $space-2;
        right: $space-2;
        z-index: 2;
        opacity: 0.4;
      }
    }
  }
}
