thead {
  font-size: 15px;
}

tbody {
  border-bottom: 1px solid $gray-lighterer;
}

.project-list-table {
  td {
    max-width: 250px;
    padding: 17px 20px;
    .thumbnail {
      img {
        cursor: pointer;
      }
    }
  }
}
