nav.tabs {
  ul {
    margin: 0;
    padding: 0;
    @extend .flex;
    list-style: none;
    li {
      padding: 0;
      @extend .flex-auto;
      button {
        background: transparent;
        border: none;
        display: block;
        width: 100%;
        text-align: center;
        padding: $space-3;
        color: $dark7;
        @extend .smaller1;
        &.active {
          border-bottom: 3px solid $aqua;
        }
      }
    }
  }
}