.thumbnail {
  width: 4em;
  line-height: 0;
  @extend .flex-none;
  border: none;
  background: transparent;
  img {
    width: 100%;
  }
}
ul.thumbnails {
  padding: 0;
  margin: 0;
  list-style: none;
  @extend .flex;
  @extend .justify-center;
  li {
    @extend .flex-none;
    overflow: hidden;
    button {
      background: $white;
      border: 2px solid $white;
      padding: 0;
      line-height: 0;
      @include roundedCorners();
      overflow: hidden;
      img {
        width: 100%;
      }
    }
    &.current {
      button {
        border-color: $color3x;
        img {
          //opacity: 0.4;
        }
      }
    }
    &:not(:first-child) {
      margin-left: 3px;
    }
  }
}
