.toolbar {
  height: 70px;
  nav {
    @extend .flex;
    > * {
      @extend .flex;
    }
    ul {
      margin: 0;
      padding: 0;
      @extend .flex;
      list-style: none;
      li {
        padding: 0;
        @extend .flex;
        @extend .flex-auto;
        @extend .flex-column;
        margin: 0 $space-2;
        position: relative;
        .nav-item {
          &:not(.btn) {
            padding: 0 $space-1;
            @extend .flex-auto;
            border: none;
            display: block;
            width: 100%;
            height: 100%;
            text-align: center;
            font-size: 0.9em;
            color: $dark4;
            background: transparent;
            @include borderRadius(0px);
          }
          &.active {
            border-bottom: 2px solid $poiple;
            color: $poiple;
          }
        }
        > div {
          height: 100%;
        }
        .avatar-list {
          @extend .flex-auto;
          min-width: 200px;
        }
      }
    }
  }
  &.toolbar-compact {
    height: 40px;
    nav {
      ul {
        li {
          .nav-item {
            padding: $space-1;
          }
          &:not(:last-child) {
            margin-right: $space-2;
          }
        }
      }
    }
  }
  &.toolbar-tiny {
    height: auto;
    nav {
      ul {
        li {
          .nav-item {
            font-size: 0.8em;
            padding: 5px;
            &.active {
              border-bottom-width: 1px;
            }
          }
        }
      }
    }
  }
  &.toolbar-flex {
    @extend .bg-white;
    @extend .flex;
    @extend .items-stretch;
    @extend .justify-between;
    > .icon {
      padding: 0 $space-4;
      display: flex;
      align-items: center;
    }
  }
}
