.annotation-actions {
  @include borderRadius();
  overflow: hidden;
  position: absolute;
  transform: translate(-50%, -150%);
  -webkit-transform: translate(-50%, -150%);
  background: $mako;
  z-index: 2;
  font-size: 0.8em;
  .icon {
    @include borderRadius(0px);
    padding: $space-2 $space-2;
    color: $light8;
    &:not(:last-child) {
      border-right: 1px solid $dark2;
    }
  }
}
