.appear, .appear2 {
  transition: opacity .5s, transform .8s;
  -webkit-transition: opacity .5s, transform .8s;
  opacity: 0;
  transform: translateY(10px);
  -webkit-transform: translateY(10px);
  &.appeared {
    transform: translateY(0px);
    -webkit-transform: translateY(0px);
    opacity: 1;
  }
}
.appear3 {
  transition: opacity .5s, transform .8s;
  -webkit-transition: opacity .5s, transform .8s;
  opacity: 0;
  transform: scale(1.2);
  -webkit-transform: translateY(1.2);
  &.in {
    transform: scale(1);
    -webkit-transform: scale(1);
    opacity: 1;
  }
}