#measurements {
  .column-cell,
  .column-header {
    button.icon {
      background: $mako;
      color: $white;
      padding: 8px;
      @include borderRadius(3px);
    }
    button.left-of {
      transform: translate(-46px, -50%);
      -webkit-transform: translate(-46px, -50%);
    }
    button.above {
      transform: translate(-50%, -46px);
      -webkit-transform: translate(-50%, -46px);
    }
  }
  .row-highlight {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: $poiple;
  }
  .track {
    opacity: 0;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    background: #ccc;
    z-index: 2;
    &.track-horizontal {
      height: 10px !important;
      width: 100%;
      bottom: 0;
      border-right: 10px solid #979797;
    }
    &.track-vertical {
      height: 100%;
      width: 10px !important;
      right: 0;
      bottom: 10px;
    }
  }
  .thumb {
    background: #979797;
    &.thumb-horizontal {
      cursor: ew-resize !important;
    }
    &.thumb-vertical {
      cursor: ns-resize !important;
    }
  }
  &:hover {
    .track {
      opacity: 1;
    }
  }
}
