$bStyle: 1px solid #ccc;
#measurements {
  input[type="text"],
  input[type="number"] {
    padding: $space-1;
  }
  .column {
    max-width: 70px;
    border-radius: 4px;
    overflow: hidden;
    border: $bStyle;
    overflow: hidden;
    input {
      border: none;
      text-align: center;
      width: 100%;
      color: $dark8;
    }
    > div {
      &:not(:last-child) {
        input {
          border-bottom: $bStyle;
        }
      }
    }
    &:first-child {
      max-width: 200px;
      input {
        text-align: left;
      }
    }
    &:not(:last-child) {
      margin-right: 6px;
    }
  }
}
