$bStyle: 1px solid #ccc;
#measurements {
  color: $dark7;
  .column {
    border-radius: 4px;
    -webkit-border-radius: 4px;
    max-width: 45px;
    border: $bStyle;
    text-align: center;
    input,
    button,
    label {
      border: none;
      text-align: center;
      width: 100%;
      color: inherit;
      padding: 10px 5px;
      font-family: inherit;
      font-size: inherit;
      text-align: inherit;
      display: block;
      border-radius: 0;
      -webkit-border-radius: 0;
      background: transparent;
    }
    input:focus,
    .column-cell.focused {
      border-color: $malibu;
      background: $malibu;
      color: $white;
    }
    &:first-child {
      max-width: 200px;
      text-align: left;
      input,
      button,
      label {
        padding: 10px;
      }
    }
    &:not(:last-child) {
      margin-right: 6px;
    }
    .column-header,
    .column-cell {
      border-bottom: $bStyle;
      * {
        border: none;
      }
      .identifier {
        padding-right: 0;
        font-weight: bold;
        width: auto;
      }
    }
    .column-cell:last-child {
      border-bottom: none;
    }
  }
  .focused {
    border-color: $malibu;
    * {
      border-color: $malibu !important;
    }
  }
}
