#tech {
  margin-top: -$space-2;
  margin-bottom: -$space-2;
  margin-left: -$space-2;
  margin-right: -$space-2;
  padding: 0;
  text-align: center;
  li {
    display: inline-block;
    padding: $space-2;
    img {
      width: 100px;
    }
  }
}