@mixin borders($namespace) {
  $b1: 1px solid $dark2;
  .#{$namespace}b1 {
    border: $b1;
  }
  .#{$namespace}bt1 {
    border-top: $b1;
  }
  .#{$namespace}br1 {
    border-right: $b1;
  }
  .#{$namespace}bb1 {
    border-bottom: $b1;
  }
  .#{$namespace}bl1 {
    border-left: $b1;
  }
  .#{$namespace}bx1 {
    border-left: $b1;
    border-right: $b1;
  }
}

@include borders('');

@media #{$breakpoint-sm} {
  @include borders('sm-');
}

@media #{$breakpoint-md} {
  @include borders('md-');
}

@media #{$breakpoint-lg} {
  @include borders('lg-');
}
