@mixin borders($breakpoint, $namespace, $style) {
  .#{$breakpoint}b#{$namespace} {
    border: $style;
  }
  .#{$breakpoint}bt#{$namespace} {
    border-top: $style;
  }
  .#{$breakpoint}br#{$namespace} {
    border-right: $style;
  }
  .#{$breakpoint}bb#{$namespace} {
    border-bottom: $style;
  }
  .#{$breakpoint}bl#{$namespace} {
    border-left: $style;
  }
  .#{$breakpoint}bx#{$namespace} {
    border-left: $style;
    border-right: $style;
  }
}

@mixin buildBorders($namespace,$style) {
  @include borders('', $namespace, $style);

  @media #{$breakpoint-sm} {
    @include borders('sm-', $namespace, $style);
  }

  @media #{$breakpoint-md} {
    @include borders('md-', $namespace, $style);
  }

  @media #{$breakpoint-lg} {
    @include borders('lg-', $namespace, $style);
  }
}

@include buildBorders(1,1px solid $dark2);
@include buildBorders(2,1px solid $dark1);

.border-dashed {
  border: 2px dashed $gray-lighter;
}
