.circle {
  border-radius: 9999px;
  -webkit-border-radius: 9999px;
  overflow: hidden;
}
.cursor-pointer {
  cursor: pointer;
}
.cursor-crosshair {
  cursor: crosshair;
}
.y-scroll {
  overflow-y: auto;
}
.z3 {
  z-index: 3;
}
.tr {
  position: absolute;
  top: 0;
  right: 0;
}
