.circle {
  border-radius: 9999px;
  -webkit-border-radius: 9999px;
  overflow: hidden;
}
.cursor-pointer {
  cursor: pointer;
}
.cursor-crosshair {
  cursor: crosshair;
}
.handle {
  cursor: move;
}
.y-scroll {
  overflow-y: auto;
}
.z3 {
  z-index: 3;
}
.tr {
  position: absolute;
  top: 0;
  right: 0;
}
.rounded {
  @include borderRadius();
}
.cell-fit {
  white-space: nowrap;
  width: 1%;
}
.draggable-container {
  position: relative;
}
.react-draggable-dragging {
  z-index: 2;
  box-shadow: inset 0 0 3px $dark5;
}
.scroll-y {
  overflow-y: scroll;
}
.scroll-x {
  overflow-x: scroll;
}
.cut {
  overflow: hidden;
}
@media #{$breakpoint-lg} {
  .lg-mln4 {
    margin-left: -$space-4;
  }
}
