.bl,
.br,
.tr,
.tl,
.ontop,
.above,
.left-of {
  position: absolute;
}
.bl {
  bottom: 0;
  left: 0;
}
.br {
  bottom: 0;
  right: 0;
}
.tl {
  top: 0;
  left: 0;
}
.tr {
  top: 0;
  right: 0;
}
.above {
  top: 0;
  left: 50%;
  transform: translate(-50%, -100%);
  -webkit-transform: translate(-50%, -100%);
}
.left-of {
  top: 50%;
  left: 0;
  transform: translate(-100%, -50%);
  -webkit-transform: translate(-100%, -50%);
}
.ontop {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
